* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  border-bottom: 1px;
}
a,
i,
h3,
.btn,
.card,
.card-body {
  color: white;
}
body {
  padding-top: 65px;
}
li {
  color: white;
  list-style: none;
  text-decoration: none;
}
.background-about {
  background: url(images/lights.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-contact {
  background: url(images/contactme.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-home {
  background: url(images/chicago-night.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.background-portfolio {
  background: url(images/bricks.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 5em;
  margin-top: 5em;
}
.jumbotron {
  background: rgba(0, 0, 0, 0.7);
}
.fa:hover,
.nav-link:hover {
  color: #1d7097;
}
.card-margin {
  margin-bottom: 10em;
  margin-top: 10em;
}
@media only screen and (max-width: 768px) {
  body {
    padding-top: 0px;
  }
  ul {
    flex-direction: column;
  }
  .fixed-top {
    position: static;
  }
}
@media only screen and (max-width: 321px) {
  a,
  i,
  li {
    text-align: center;
    margin-bottom: 1em;
  }
  #item {
    display: hide;
  }
}
