* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    border-bottom: 1px;
}



a {
    text-decoration: none;
}

a:hover {
    border: none;
    color: none;
}

a,
i {
    color: white;
}

body {
    padding-top: 50px;
}

li {
    color: white;
    list-style: none;
    text-decoration: none;
}



p {
    padding: 1em;
}

.about,
.title {
    color: white;
}

.background-about {
    background: url(images/lights.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-contact {
    background: url(images/contactme.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-home {
    background: url(images/chicago-night.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-portfolio {
    background: url(images/bricks.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


.card {
    background-color: rgba(255, 255, 250, 0.5);
    margin-bottom: 10em;
    margin-top: 10em;

}

.card-subtitle {
    margin-top: 1em;
}

.container-fluid {
    padding: 0px;
}

.transparent {
    background-color: rgba(255, 255, 250, 0.5);
    margin-top: 2em;
}

#item {
    font-size: 2em;
}

#mattpic {
    padding: 1em;
}

@media only screen and (max-width:768px) {

    body {
        padding-top: 0px;
    }

    ul {
        flex-direction: column
    }
    .box {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .fixed-top {
        position: static
    }

}

@media only screen and (max-width: 321px) {
    a,
    i,
    li {
        text-align: center;
        margin-bottom: 1em;
    }
    #item {
        display: none
    }
}
