* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    border-bottom: 1px;
}



a {
    text-decoration: none;
}

a:hover {
    border: none;
    color: none;
}

a,
i {
    color: white;
}

body {
    padding-top: 50px;
}

li {
    color: white;
    list-style: none;
    text-decoration: none;
}



p {
    padding: 1em;
}

.about,
.title {
    color: white;
}

.background {
    background: url(/images/brick.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    padding-top: 3em;
    padding-bottom: 3em;
}

.box-contact {
    background-color: rgba(255, 255, 250, 0.7);
}



.container-fluid {
    padding: 0px;
}

#item {
    font-size: 2em;
}

@media only screen and (max-width:768px) {

    body {
        padding-top: 0px;
    }

    ul {
        flex-direction: column
    }
    .box {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .fixed-top {
        position: static
    }

}
